/* @import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Nunito";
}
html {
	scroll-behavior: smooth;
}
h3 {
	margin-bottom: 1rem;
	color: white;
}
.btn {
	width: 100%;
	padding: 12px;
	font-size: 16px;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.dots span {
	display: inline-block;
	animation: blink 1.5s infinite;
}

ul {
	list-style: none;
}
.dots span:nth-child(2) {
	animation-delay: 0.5s;
}

.dots span:nth-child(3) {
	animation-delay: 1s;
}

.copied-alert {
	color: white;
	background: hsl(237, 49%, 15%);
	text-align: center;
	position: absolute;
	padding: 0.5rem;
	z-index: 1200;
	top: 1rem;
	left: 1rem;
	border: 1px solid hsl(39, 89%, 49%);
	border-radius: 0.3rem;
	animation: slideIn 0.7s ease;
}

body,
#root {
	position: relative;
	z-index: -100;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	overflow: hidden;
}
#root {
	min-height: 100vh;
	background: no-repeat radial-gradient(circle, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}
#root {
	width: 100%;
	background: no-repeat radial-gradient(circle, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
	min-height: 100vh;
}
.header2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.delete {
	background-color: transparent;
	border: none;
	cursor: pointer;
}
.trash {
	height: 1.5rem;
}
img[alt="rock"],
img[alt="paper"],
img[alt="scissors"] {
	color: black;
}

.scoreBoard {
	border: 0.125rem solid hsla(0, 4%, 80%, 0.1);
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 6.25rem;
	padding: 0.625rem;
	border-radius: 0.625rem;
	width: 40rem;
	/* margin: 1.25rem auto; */
	margin-top: -3rem;
	position: relative;
}
.scoreBoard .imgCont {
	height: 100%;
}
.scoreBoard .imgCont img {
	width: 100%;
	height: 100%;
}
.score {
	background-color: #f9f9f9;
	height: 100%;
	width: 8.125rem;
	padding: 0 0.625rem;
	border-radius: 0.625rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
}
.score p:nth-child(2) {
	height: 100%;
	font-size: 3.125rem;
}

.p2 {
	display: flex;
	width: 100%;
	position: absolute;
	right: -360px;
}
.p2 div {
	margin-right: 10px;
}
.Gboard {
	height: 24rem;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 3rem;
}
.Gboard .stale {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.gameBoard {
	height: 12.5rem;
	width: 12.5rem;
	background: no-repeat center url("../images/bg-triangle.svg");
	background-size: contain;
	position: relative;
}
.gameOpt,
.picked,
.hPicked {
	width: 9.375rem;
	height: 9.375rem;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	box-shadow: inset 0 -0.5rem 0 rgba(0, 0, 0, 0.3);
	cursor: pointer;
}
.gameOpt::before,
.picked::before,
.hPicked::before {
	content: "";
	width: calc(100% - 1.875rem);
	height: calc(100% - 1.875rem);
	background-color: #f9f9f9;
	position: absolute;
	border-radius: 50%;
	box-shadow: inset 0rem 0.5rem 0 rgba(0, 0, 0, 0.1);
}
.gameOpt img,
.picked img,
.hPicked img {
	z-index: 3;
}
.gameOpt:nth-child(1) {
	background: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
	top: -30%;
	left: -40%;
}
.gameOpt:nth-child(2) {
	background: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
	top: -30%;
	right: -40%;
}
.gameOpt:nth-child(3) {
	background: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
	bottom: -30%;
	right: 1.8125rem;
}
.gameOpt:nth-child(4) {
	background: linear-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
	bottom: -30%;
	right: 1.8125rem;
}
.gameOpt:nth-child(5) {
	background: linear-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));
	left: -2rem;
}
/* New */
/* Bonus */
.gameBoard-bonus {
	height: 20rem;
	width: 20rem;
	background: no-repeat center url("../images/bg-pentagon.svg");
	background-size: contain;
	position: relative;
}
.gameOpt-bonus {
	width: 7.375rem;
	height: 7.375rem;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	box-shadow: inset 0 -0.5rem 0 rgba(0, 0, 0, 0.3);
	cursor: pointer;
}
.gameOpt-bonus::before {
	content: "";
	width: calc(100% - 1.875rem);
	height: calc(100% - 1.875rem);
	background-color: #f9f9f9;
	position: absolute;
	border-radius: 50%;
	box-shadow: inset 0rem 0.5rem 0 rgba(0, 0, 0, 0.1);
}
.gameOpt-bonus img {
	z-index: 3;
	height: 2rem;
}
.gameOpt-bonus:nth-child(1) img,
.gameOpt-bonus:nth-child(2) img,
.gameOpt-bonus:nth-child(3) img,
.gameOpt-bonus:nth-child(4) img {
	height: 2.4rem;
}
.gameOpt-bonus:nth-child(5) img {
	height: 2.6rem;
}
.gameOpt-bonus:nth-child(1) {
	background: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
	top: 25%;
	right: -15%;
}
.gameOpt-bonus:nth-child(2) {
	background: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
	top: -10%;
	left: 30%;
}
.gameOpt-bonus:nth-child(3) {
	background: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
	bottom: -15%;
	right: 1rem;
}
.gameOpt-bonus:nth-child(4) {
	background: linear-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
	bottom: -15%;
	left: 1rem;
}
.gameOpt-bonus:nth-child(5) {
	background: linear-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));
	top: 25%;
	left: -15%;
}

/* DESKTOP STEP2 */
.Desktop-step2 {
	display: flex;
	align-items: center;
	gap: 3.125rem;
	color: #f9f9f9;
	height: 80%;
}
.you-picked,
.house-picked {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.picked,
.hPicked {
	position: relative;
	height: 15.625rem;
	width: 15.625rem;
	background: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
}
.picked::before,
.hPicked::before {
	width: calc(100% - 3.75rem);
	height: calc(100% - 3.75rem);
}
.hPicked {
	background: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
}
.results > h1 {
	word-spacing: 0.625rem;
	font-size: 3.125rem;
	text-align: center;
}
.results {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.results button {
	width: 10rem;
	height: 2.5rem;
	border-radius: 0.3125rem;
	border: none;
	margin-top: 1.875rem;
	cursor: pointer;
}
.winner::after {
	content: "";
	position: absolute;
	height: 250%;
	width: 250%;
	border-radius: 50%;
	z-index: -1;
	background: repeat
		radial-gradient(circle, rgba(0, 0, 0, 0.1) 10%, hsl(0, 2%, 37%) 20%, transparent);
	box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.3);
}
.rules-overlay,
.manual {
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 1000;
	min-height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.rules-modal {
	position: absolute;
	top: 50%;
	background-color: #fff;
	left: 50%;
	transform: translate(-50%, -50%);
	border: none;
	padding: 1.25rem;
	border-radius: 0.625rem;
	z-index: 100;
}
.rules {
	border-radius: 0.3125rem;
	padding: 0.625rem 1.875rem;
	background-color: transparent;
	border: 0.125rem solid hsla(0, 4%, 80%, 0.1);
	color: #f9f9f9;
	cursor: pointer;
	right: 1rem;
}
.rules-modal > div {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.25rem;
}
.rules-modal button {
	background: transparent;
	border: none;
	cursor: pointer;
}
.rules-modal::backdrop {
	background-color: red;
}
.making-move {
	color: white;
	font-size: 2rem;
}

.nav {
	display: block;
	position: absolute;
	right: 1rem;
	top: 0.5rem;
	cursor: pointer;
	z-index: 10;
	width: 2.5rem;
}

.link-bar span {
	background-color: white;
	display: block;
	height: 0.3rem;
	width: 2rem;
	margin-bottom: 0.2rem;
	cursor: pointer;
}

.link-bar:hover span {
	background-color: hsl(40, 84%, 53%);
}
.nav-links {
	background-color: hsl(237, 49%, 15%);
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 100;
	position: absolute;
	top: 2rem;
	left: 0.5rem;
	width: 10rem;
	border: 2px solid white;
	cursor: pointer;
	border-radius: 0.3rem;
	text-align: center;
}

.nav-links a {
	color: white;
	text-decoration: none;
	margin-top: 0.3rem;
	padding: 0.5rem;
	font-size: 0.9rem;
	background-color: hsl(214, 47%, 23%);
}

.nav-links .leave {
	margin-top: 0.5rem;
	text-align: center;
	padding: 0.5rem;
	background-color: transparent;
}

.nav-links .leave:hover {
	background-color: red;
	color: white;
}
.nav-links a:hover {
	background-color: hsl(214, 50%, 39%);
}

.nav-links button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.3rem;
	cursor: pointer;
	border: none;
	border-radius: none;
	transition: all 0.15s;
	padding: 0.5rem;
	background-color: transparent;
}

.nav-links button:hover {
	background-color: rgb(201, 201, 201);
}

.nav-links .close-icon {
	height: 1rem;
}

.copy-icon {
	height: 1rem;
	width: 1rem;
	transition: all 0.15s;
}
.room-name {
	display: flex;
	align-items: center;
	cursor: pointer;
}
.room-name:hover .copy-icon {
	height: 1.2rem;
	width: 1.2rem;
}

.room-name p {
	margin-right: 0.5rem;
}

.audio {
	display: none;
}

/* Loading Animation */
.pl {
	width: 6em;
	height: 6em;
}

.pl__ring {
	animation: ringA 2s linear infinite;
}

.pl__ring--a {
	stroke: #f42f25;
}

.pl__ring--b {
	animation-name: ringB;
	stroke: #f49725;
}

.pl__ring--c {
	animation-name: ringC;
	stroke: #255ff4;
}

.pl__ring--d {
	animation-name: ringD;
	stroke: #f42582;
}

.manual {
	text-align: center;
	color: white;
	display: flex;
	justify-content: center;

	align-items: center;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.9);
}
.manual a {
	font-weight: bold;
	margin-right: 1rem;
	border-radius: 3px;
	padding: 0.5rem;
	border: none;
	font-size: 1rem;
	cursor: pointer;
	text-align: center;
	display: inline-block;
	margin-top: 1rem;
	background-color: white;
	text-decoration: none;
	color: #000;
}
.manual a:first-child:hover {
	background-color: hsl(40, 84%, 53%);
	color: white;
}
.manual a:last-child:hover {
	background-color: hsl(0, 100%, 60%);
	color: white;
}

.overlay {
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 1000;
	min-height: 100vh;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.overlay .close-icon {
	position: absolute;
	right: 1rem;
	cursor: pointer;
	top: 1rem;
}

.no-display {
	grid-template-columns: 1fr;
	padding: 2rem;
}
.no-display span {
	margin-top: 1rem;
	font-weight: 200;
	font-size: 1.1rem;
	letter-spacing: 0.1rem;
}
