/* Profile */
.profile-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	border: 2px solid white;
	background-color: hsl(237, 49%, 15%);
	border-radius: 6px;
	padding: 2rem;
}
.profile {
	margin-bottom: 2rem;
}
.profile .name {
	color: white;
	font-size: 2rem;
}
.stats {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 1rem;
}

.stats .card {
	border: 2px solid;
	text-align: center;
	color: white;
	padding: 1rem;
	border-radius: 6px;
}

.stats .card .number {
	color: hsl(39, 89%, 49%);
	font-size: 3rem;
	font-weight: bold;
}

.profile-icon {
	height: 10rem;
	width: 10rem;
}
