@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Barlow Semi Condensed", sans-serif;
}
body {
	min-height: 100vh;
	position: relative;
	background: no-repeat radial-gradient(circle, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
}
.header2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.delete {
	background-color: transparent;
	border: none;
	cursor: pointer;
}
.trash {
	height: 1.5rem;
}
img[alt="rock"],
img[alt="paper"],
img[alt="scissors"] {
	color: black;
}

.scoreBoard {
	border: 0.125rem solid hsla(0, 4%, 80%, 0.1);
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 6.25rem;
	padding: 0.625rem;
	border-radius: 0.625rem;
	width: 40rem;
	margin: 1.25rem auto;
}
.scoreBoard .imgCont {
	height: 100%;
}
.scoreBoard .imgCont img {
	width: 100%;
	height: 100%;
}
.score {
	background-color: #f9f9f9;
	height: 100%;
	width: 8.125rem;
	padding: 0 0.625rem;
	border-radius: 0.625rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
}
.score p:nth-child(2) {
	height: 100%;
	font-size: 3.125rem;
}
.Gboard {
	height: calc(100vh - 9.6875rem);
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.gameBoard {
	height: 12.5rem;
	width: 12.5rem;
	background: no-repeat center url("./images/bg-triangle.svg");
	background-size: contain;
	position: relative;
	/* display: none; */
}
.gameOpt,
.picked,
.hPicked {
	width: 9.375rem;
	height: 9.375rem;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	box-shadow: inset 0 -0.5rem 0 rgba(0, 0, 0, 0.3);
	cursor: pointer;
}
.gameOpt::before,
.picked::before,
.hPicked::before {
	content: "";
	width: calc(100% - 1.875rem);
	height: calc(100% - 1.875rem);
	background-color: #f9f9f9;
	position: absolute;
	border-radius: 50%;
	box-shadow: inset 0rem 0.5rem 0 rgba(0, 0, 0, 0.1);
}
.gameOpt img,
.picked img,
.hPicked img {
	z-index: 3;
}
.gameOpt:nth-child(1) {
	background: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
	top: -30%;
	left: -40%;
}
.gameOpt:nth-child(2) {
	background: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
	top: -30%;
	right: -40%;
}
.gameOpt:nth-child(3) {
	background: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
	bottom: -30%;
	right: 1.8125rem;
}
.rules {
	position: fixed;
	right: 0.625rem;
	bottom: 0.625rem;
	border-radius: 0.3125rem;
	padding: 0.625rem 1.875rem;
	background-color: transparent;
	border: 0.125rem solid hsla(0, 4%, 80%, 0.1);
	color: #f9f9f9;
	cursor: pointer;
}

/* DESKTOP STEP2 */
.Desktop-step2 {
	display: flex;
	align-items: center;
	gap: 3.125rem;
	color: #f9f9f9;
	height: 80%;
}
.you-picked,
.house-picked {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.picked,
.hPicked {
	position: relative;
	height: 15.625rem;
	width: 15.625rem;
	background: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
}
.picked::before,
.hPicked::before {
	width: calc(100% - 3.75rem);
	height: calc(100% - 3.75rem);
}
.hPicked {
	background: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
}
.results > h1 {
	word-spacing: 0.625rem;
	font-size: 3.125rem;
	text-align: center;
}
.results {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.results button {
	width: 10rem;
	height: 2.5rem;
	border-radius: 0.3125rem;
	border: none;
	margin-top: 1.875rem;
	cursor: pointer;
}
.winner::after {
	content: "";
	position: absolute;
	height: 250%;
	width: 250%;
	border-radius: 50%;
	z-index: -1;
	background: repeat
		radial-gradient(circle, rgba(0, 0, 0, 0.1) 10%, hsl(0, 2%, 37%) 20%, transparent);
	box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.3);
}
.rules-modal {
	position: absolute;
	top: 50%;
	background-color: #fff;
	left: 50%;
	transform: translate(-50%, -50%);
	border: none;
	padding: 1.25rem;
	border-radius: 0.625rem;
	z-index: 100;
}
.rules-modal > div {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.25rem;
}
.rules-modal button {
	background: transparent;
	border: none;
	cursor: pointer;
}
.rules-modal::backdrop {
	background-color: red;
}
.making-move {
	color: white;
	font-size: 2rem;
}

/* Form */
form {
	color: white;
	width: 20rem;
	padding: 2rem;
	border: 1px solid white;
}
form div {
	display: flex;
	flex-direction: column;
	margin: 1rem 0;
}
form input {
	padding: 0.4rem;
	width: 100%;
	outline: none;
}
form button {
	text-align: right;
	width: 100%;
	margin-top: 1rem;
	background-color: hsl(214, 47%, 23%);
	color: white;
	font-size: 1.5rem;
	cursor: pointer;
}
form a {
	position: absolute;
	top: 1rem;
	right: 1rem;
	color: white;
	font-weight: 700;
	font-size: 1.3rem;
}

/* Chat */
aside {
	position: absolute;
	top: 10px;
	right: 0;
	bottom: 10px;
	color: white;
	border: 1px solid white;
	border-right: none;
	width: 300px;
	padding: 1rem;
	background-color: hsl(237, 49%, 15%);
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	z-index: 1000;
}

.content {
	position: relative;
	height: 100%;
}

aside header {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	justify-content: space-between;
}

aside header .close-icon {
	height: 1rem;
	cursor: pointer;
}

/* .chat-container {
	display: flex;
	flex-direction: ;
} */

.input-container {
	position: absolute;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.input-container textarea {
	width: 80%;
	max-width: 80%;
	padding: 0.5rem;
	font-size: 1rem;
	max-height: 40px;
	outline: none;
	resize: none;
	border-radius: 0.5rem;
	margin-right: 0.5rem;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.input-container textarea::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
textarea {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.input-container button {
	width: 20%;
	padding: 0.5rem;
	cursor: pointer;
	background-color: white;
	border: none;
	color: #000;
	font-weight: bold;
	border-radius: 3px;
}

.person {
	word-wrap: break-word;
	margin-bottom: 5px;
	/* word-break: break-word; */
}

.messages {
	margin: 1rem;
	max-height: 480px;
	overflow-y: scroll;
}
.messages::-webkit-scrollbar {
	display: none;
}
.messages .name {
	font-size: 0.9rem;
	color: hsl(39, 89%, 49%);
}

.messages .message {
	text-wrap: wrap;
	width: 80%;
	font-weight: bold;
	white-space: pre-wrap;
}
.menu {
	position: absolute;
	right: 20px;
	top: 50px;
}
.menu img {
	height: 2rem;
	cursor: pointer;
}

.selection {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
}
.room {
	margin-top: 1rem;
}
.room-input {
	width: 12rem;
	border: none;
	outline: none;
	border-bottom: 2px solid white;
	background-color: transparent;
	color: white;
	font-size: 1rem;
	padding: 0.3rem;
	text-align: center;
}
.mode-links {
	margin-top: 2rem;
}

.mode-links a {
	width: 13rem;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	font-size: 1.3rem;
	padding: 1rem;
	color: hsl(237, 49%, 15%);
	background-color: white;
	font-weight: bold;
	margin-right: 1rem;
	border-radius: 0.3rem;
	border: none;
	cursor: pointer;
	transition: all 0.15s;
}

.mode-links a:hover {
	/* background-color: rgb(205, 205, 205); */
	background-color: hsl(39, 89%, 49%);
	color: white;
	width: 13.5rem;
	padding: 1.2rem;
}

footer {
	position: absolute;
	bottom: 0;
	color: white;
	text-transform: uppercase;
	left: 45%;
}
